<h1>Listing roms</h1>

<!-- %= link_to 'New rom', new_rom_path % -->

<%= grid(@rom_grid, show_filters: :always) do |g|

  g.blank_slate  do
    "No ROMs yet :-("
  end

  g.column name: "Cover" do |rom|
    link_to(image_tag(rom.frontcoverlink, size: "64"), rom_path(rom))
  end

  g.column  name: "Titel", attribute: 'title' do |rom|
    link_to(rom.title, rom_path(rom))
  end

  g.column name: "Konsole", attribute: 'console', auto_reload: true,
    custom_filter: {'NES' => 'nes', 'SNES' => 'snes', 'GB(C)' => 'gbc', 'GBA' => 'gba', 'N64' => 'n64', 'SEGA' => 'sega'} do |rom|
    rom.console
  end

  g.column  name: "Genres" do |rom|
    genres_string = ""
    rom.genres.each do |genre|
      if genres_string == ""
        genres_string = genre.name
      else
       genres_string = genres_string + ", " + genre.name
      end
    end
    genres_string
  end
end -%>

<p><%= link_to("Import Roms",importer_path) %></p>
