<h1>Listing roms</h1>

<!-- %= link_to 'New rom', new_rom_path % -->

<%= grid(@rom_grid, show_filters: :always) do |g|

  g.column name: "Konsole", attribute: 'console',
    custom_filter: {'NES' => 'nes', 'SNES' => 'snes', 'GB(C)' => 'gbc', 'GBA' => 'gba', 'N64' => 'n64', 'SEGA' => 'sega'} do |rom|
    rom.console
  end

  g.column  name: "Titel", attribute: 'title' do |rom|
    rom.title
  end

  g.column name: "Cover" do |rom|
    image_tag(rom.frontcoverlink, size: "64")
  end

  g.column do |rom|
    link_to('Show', rom_path(rom))
  end
end -%>
