<h1>Importer</h1>

<p><%= link_to("Import All" importer_importAll) %></p>
<p> Import NES titles</p>
<p> Import SNES titles</p>
<p> Import N64 titles</p>
<p> Import GBA titles</p>
<p> Import GB titles</p>
<p> Import GBC titles</p>
<p> Import SMS titles</p>
<p> Import SMD titles</p>
